{% extends "layout.twig" %}

{% block title %}Index.twig{% endblock %}

{% block content %}
    <div class="row my-2">
        <div class="col">
            <div class="card">
                <div class="card-body"><h4 class="card-title">{{ title }}</h4>
                    <form action="{{ action }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2" name="work">
                        </div>
                        <button type="submit" name="btnWork" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div class="card">
                {% for work in work_list %}
                   <li class="
                        list-group-item
                        {% if work.work_status > 0 %}
                        list-group-item-success
                        {% endif %}
                    ">{{ work.work_name|raw }}
                    <a href="change/{{ work.id }}" class="btn btn-outline-success btn-sm ml-5">
                        <span><i class="fas fa-check-circle "></i></span>
                    </a>
                    <a href="edit/{{ work.id }}" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="del/{{ work.id }}" class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-trash-alt"></i></a>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}